# E. Coli
Infection Rates Over Time Compared In A Variety of Ways

In [21]:
# importing dependencies
# do we need additional dependencies? guessing no?
import pandas as pd
import matplotlib.pyplot as plt
import scipy.stats as st
import numpy as np

# E. Coli data files
# should we call in the meningitis and/or covid data files also?  guessing no to keep things simple and organized?  
ecoli_data_df = "Escherichia_Coli_NationalOutbreakPublicDataTool.csv"

,Year,Month,State,Primary Mode,Etiology,Serotype or Genotype,Etiology Status,Setting,Illnesses,Hospitalizations,...,Deaths,Info on Deaths,Food Vehicle,Food Contaminated Ingredient,IFSAC Category,Water Exposure,Water Type,Animal Type,Animal Type Specify,Water Status
0,2015,1,Ohio,Food,Norovirus Genogroup II,GII.6,Confirmed,Restaurant - Sit-down dining,4,0.0,...,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,Virginia,Food,NaN,NaN,NaN,Restaurant - Sit-down dining; Private home/res...,20,0.0,...,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,Ohio,Food,Norovirus Genogroup II,GII.6,Confirmed,Restaurant - Sit-down dining,15,1.0,...,0.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,Ohio,Food,Norovirus,NaN,Suspected,Restaurant - Sit-down dining,3,0.0,...,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,Minnesota,Food,Norovirus Genogroup II,NaN,Confirmed,Restaurant - Sit-down dining,7,0.0,...,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [22]:
# Read the E. Coli data 
ecoli_df = pd.read_csv(ecoli_data_path)

# Display the data table for preview
ecoli_data.head()

#print (ecoli_data_df.shape())

,Year,Month,State,Primary Mode,Etiology,Serotype or Genotype,Etiology Status,Setting,Illnesses,Hospitalizations,...,Deaths,Info on Deaths,Food Vehicle,Food Contaminated Ingredient,IFSAC Category,Water Exposure,Water Type,Animal Type,Animal Type Specify,Water Status
0,2015,1,Ohio,Food,Norovirus Genogroup II,GII.6,Confirmed,Restaurant - Sit-down dining,4,0.0,...,0.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2015,1,Virginia,Food,NaN,NaN,NaN,Restaurant - Sit-down dining; Private home/res...,20,0.0,...,0.0,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2015,1,Ohio,Food,Norovirus Genogroup II,GII.6,Confirmed,Restaurant - Sit-down dining,15,1.0,...,0.0,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2015,1,Ohio,Food,Norovirus,NaN,Suspected,Restaurant - Sit-down dining,3,0.0,...,0.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2015,1,Minnesota,Food,Norovirus Genogroup II,NaN,Confirmed,Restaurant - Sit-down dining,7,0.0,...,0.0,7.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

US Infection Rates Over Time

State Infection Rates
Top 10 States (with longest masking mandates)
New York
Massachusetts
New Jersey
Delaware
Connecticut
Virginia
Rhode Island
Maine
Michigan
Illinois
New Mexico

In [ ]:
#read the Masking Mandates data set

mask_mandates_df = pd.read_csv('../Data_Sets/Mask_Mandates/U.S._State_and_Territorial_Public_Mask_Mandates_From_April_8__2020_through_August_15__2021_by_State_by_Day.csv')
mask_mandates = mask_mandates_df

In [ ]:
# find states with the highest number of daily masking mandates ('yes' for top, 'no' for bottom)
# compare in one visualization mask mandates and
# reference code: stats.py from matplotlib day 3
def multi_mode(arr):
    """
    Calculates the mode of a list of numbers as an array of tuples
    containing the most frequently occurring elements. Each tuple
    contains the item itself in the first slot, and the number of times
    it occurs in the second. If there are multiple modes, returns all.

    Usage: mode([1, 1, 2, 2, 3]) # [(1, 2), (2, 2)]
    """

    # Count items
    counter = Counter(arr)

    # Get number of times most frequently occurring item appears
    freq = counter.most_common(1)[0][1]

    # Return list of tuples containing most frequently occurring elements
    return [(key, val) for key, val in counter.items() if val == freq]

State Infection Rates
Bottom 10 States (with shortest masking mandates)
Florida
Georgia
South Carolina
Tennessee
Montana
Oklahoma
South Dakota
Wyoming
Idaho
Arizona

In [ ]:
# compare in one visualization mask mandates and E. Coli infection rates by State (top 10, bottom 10 states)